*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
    
}
.head{
    display: flex;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
}
textarea {
    height: 300px;
    width: 350px;
    margin-top: 150px;
    margin-left: 140px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(1, 1, 48);
    box-shadow: 10px 10px 10px ;
    box-sizing: border-box;
  
   
}
button {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background: rgba(213, 194, 23, 0.733);
    color: white;
    margin-left: 280px;
    margin-top: 40px;
}
.left-box{
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 5, 103, 0.777);

}
.tasks-box{
    height: 100vh;
    width: 100%;
    background-color: rgba(213, 194, 23, 0.733);
    display: flex;
     align-items: flex-start; 
    flex-wrap: wrap;
    padding: 10px;
  
}
.task {
   
    border-radius: 20px;
    /* margin: 10px; */
    margin-left: 10px;
    margin-top: 4px;
    height: 50px;
    width: auto;
    border: 2px solid black;
    text-align: center;
    padding: 11px 20px;
    text-align: center;
    color: rgba(213, 194, 23, 0.733);
    background-color: rgba(8, 5, 103, 0.867);
}
.task span {
    cursor: pointer;
    margin-right: 10px;
  }
  .task-text {
    margin-left: 5px; 
  }
  
  @media screen and (max-width:1480px){
    .left-box{
        height: auto;
        padding-bottom: 100px;
       } 

       .tasks-box {
           height: 640px;
        }
  }
  @media screen and (max-width:1150px){
    textarea{
        width: 300px;
        height: 280px;
    }
    .tasks-box {
        height: 620px;
     }
     button{
        margin-left: 240px;
     }
  }
  @media screen and (max-width:950px){
    textarea{
        width: 250px;
        height: 200px;
    }
    .tasks-box{
        height:540px ;
    }
    button{
        margin-left: 225px;
     }
     .task{
       
        margin: 5px;  
     }
  }
  @media screen and (max-width:820px){
    textarea{
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }
    button{
        margin-left: 180px;
     }

  }
  @media screen and (max-width:730px){
    textarea{
        width: 180px;
        height: 200px;
        margin-left: 80px;
    }
    button{
        margin-left: 130px;
     }
     .task{
        height: 40px;
     }
     .task{
       
        margin: 5px;  
     }
  }
  @media screen and (max-width:570px){

    textarea{
        width: 180px;
        height: 180px;
        margin-left: 50px;
    }
    button{
        margin-left: 100px;
     }
     .tasks-box {
        height: 520px;
     }
     .task{
        height: 30px;
        padding: 5px 19px;
        margin: 5px;  
     }
  }
  @media screen and (max-width:500px){
    textarea{
        width: 180px;
        height: 180px;
        margin-left: 30px;
    }
    button{
        margin-left: 80px;
     }
  }
  @media screen and (max-width:440px){
    textarea{
        width: 150px;
        height: 150px;
        margin-left: 30px;
    }
    button{
        margin-left: 70px;
     }
     .tasks-box {
        height: 490px;
     }
  }
  @media screen and (max-width:390px){
    textarea{
        width: 150px;
        height: 150px;
        margin-left: 20px;
    }
    button{
        height: 30px;
        width: 80px;
        margin-left: 60px;
     }
     .tasks-box {
        height: 470px;
     }
  }
  @media screen and (max-width:360px) and (min-width:300px){
    textarea{
        width: 100px;
        height: 100px;
        margin-left: 25px;
    }
    .tasks-box {
        height: 422px;
     }
     button{
        height: 32px;
        width: 60px;
        margin-left: 50px;
     }
     .task{
        height: 30px;
        padding: 5px 19px;
        margin: 2px;  
     }
    
  }








 

  
